<div class="ui grid">    
    <div class="ui card twelve wide column">
        <div class="content">
            <div class="header">Management du temps</div>
        </div>
        <div class="content">
            <div class="ui vertical container segment">
                <form class="ui form" [formGroup]="simulatorForm" validate>
	            	<div>
	            		<p>Semaine : {{ dateNow | date: 'w' }}</p>
	            		<p>Date du : Lundi : {{ firstday | date: 'dd' }} au Vendredi : {{ lastday | date: 'dd' }} {{ dateNow | date: 'MMMM' }} {{ dateNow | date: 'yyyy' }}</p>
	            	</div>
	            	<br>
	            	<br>
	            	<div class="">
		            	<div class="ui top attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column">
							  	<p>Lundi {{ firstday | date: 'dd' }} : </p>
							  </div>
							  <div class="column">
							  	<input  type="number" min="0" step="1" max="23" formControlName="startTime"/>
							  </div>
							  <div class="column">
							  	<p>à</p>
							  </div>
							  <div class="column">
							  	<input type="number" min="0" step="1" max="23" formControlName="endTime"/>
							  </div>
							</div>				 		
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Mardi {{ mardi | date: 'dd' }} : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/></div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Mercredi {{ mercredi | date: 'dd' }} : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/></div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Jeudi {{ jeudi | date: 'dd' }} : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/></div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui bottom attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Vendredi {{ lastday | date: 'dd' }} : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
					</div>
					<button>Valider</button>
                </form>
            </div>
    </div>
</div>
