<div class="ui grid">    
    <div class="ui card twelve wide column">
        <div class="content">
            <div class="header">Management du temps</div>
        </div>
        <div class="content">
            <div class="ui vertical container segment">
                <form class="ui form" [formGroup]="simulatorForm" validate>
	            	<div>
	            		<p>Semaine : {{ dateNow | date: 'w' }}</p>
	            		<p>Date du : Lundi : {{ firstday | date: 'dd' }} au Vendredi : {{ lastday | date: 'dd' }} {{ dateNow | date: 'MMMM' }} {{ dateNow | date: 'yyyy' }}</p>
	            	</div>
	            	<br>
	            	<br>
	            	<div class="">
		            	<div class="ui top attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Lundi : </p></div>
							  <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
							  <!-- <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div> -->
							  <div class="column"><p>à</p></div><!-- 
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div> -->
							  <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
							</div>				 		
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Mardi : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Mercredi : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Jeudi : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
						<div class="ui bottom attached segment">
		            		<div class="ui stackable four column grid">
							  <div class="column"><p>Vendredi : </p></div>
							  <div class="column"><input  type="number" min="0" step="1" max="23" formControlName="startTime"/> </div>
							  <div class="column"><p>à</p></div>
							  <div class="column"><input type="number" min="0" step="1" max="23" formControlName="endTime"/></div>
							</div>
						</div>
					</div>
					<button>Valider</button>
                </form>
            </div>
    </div>
</div>
